.field
  %input.string{type: "text", placeholder: "Your name", data: {bind: "comment.author"}}
.field
  %textarea.text{placeholder: "What do you want to say", data: {bind: "comment.body"}}
.actions
  %input.button{type: "submit", value: "Post comment"}
