.field
  %input.string{type: "text", placeholder: "Post title", data: {bind: "post.title"}}
.field
  %textarea.text{placeholder: "Post body", data: {bind: "post.body"}}
.field
  %input.string{type: "text", placeholder: "Post tags", data: {bind: "post.tags"}}
.field
  %label Published?
  %input.boolean{type: "checkbox", placeholder: "Published?", data: {bind: "post.published"}}
.field
  %input.datetime{type: "date", placeholder: "Published on", data: {bind: "post.published_on"}}
.actions
  %input.button{type: "submit", value: "Save"}
