%h1 Editing post

%form{data: {"formfor-post" => "post", "event-submit" => "controllers.posts.update", "partial" => "posts/_form"}}

%a{data: {route: "routes.posts[post]"}} Show
\|
%a{data: {route: "routes.posts"}} Back
