!!! 5
%html{ html_attrs }
  %head
    %title Awesome
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width" }
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = javascript_include_tag 'http://localhost:9292/faye.js'
    %meta{ :name => 'faye-url', :content => 'http://localhost:9292/faye' }
    = csrf_meta_tags
  %body
    %body
      %article
        .row
          .large-3.columns
            %h1
              %img{ src: "http://placehold.it/400x100&text=Awesome" }
          .large-9.columns
            %ul.inline-list.right
              %li
                %a{ href: "/" } Home
              %li
                %a{ href: "/posts" } Posts
              %li
                %a{ href: "https://github.com/nybblr" } Take over the world
        .row
          .large-12.columns
            %h3
              Awesome
              %small Snappy subtitle
              %div{ data: { yield: "main" } }= yield
        %footer.row
          .large-12.columns
            %hr/
            .row
              .large-12.columns
                %p &copy; Copyright no one at all. Go to town.
